h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    color: #348888;
}



/*---------------Configurações gerais---------------*/

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    color: #348888;
    text-align: center;
}

p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: #373737;
}

/*---------------Cabeçalho---------------*/
header {
   margin-bottom: 2rem; 
}
.navbar {
    background-color: #DCFFFB;
    font-family: 'Inter', sans-serif;
}

.navbar-brand img {
    margin-left: 6rem;
}

.nav-link {
    color: #F24405;
}

.nav-item {
    display: inline;
    border-right: #F24405 solid thin;
    padding: 0 0.5rem 0 0.5rem;
}

.nav-item:last-child {
    border-right: none;
}

.cabecalho-menu a {
    text-decoration: none;
    color: #F24405;
    font-size: 1rem;
}

.navbar {
    background-color: #DCFFFB
}
 
/*---------------Banner---------------*/
.carousel-item {
    margin-top: 1rem;
}

.carousel-item img {
    margin-left: auto;
    margin-right: auto;
 }

/*---------Principais Programas---------*/
.principais-programas-item {
    position: relative;
}

.principais-programas-item p {
    visibility: hidden;
    position: absolute;
    text-align: center;
    z-index: 1;
    width: 100%;
    top: 40%;
    font-size: 1.3rem;
    font-weight: bold;
    color: white
}

.principais-programas-item:hover p {
    visibility: visible;
}

.principais-programas-item:hover {
    background-color: #d43e10;
}

.principais-programas-item:hover img {
    opacity: 0.5;
}

/*---------------Quem Somos---------------*/
.quem-somos {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
}

.quem-somos h2 {
    text-align: left;
}

main {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

/*---------------Depoimentos---------------*/
.depoimentos h2{
    text-align: left;
    margin-bottom: 2rem;
}

.blockquote p {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #717070;
    text-align: center;
    padding: 1rem;
}

.blockquote-footer {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8rem;
    text-align: center;

    color: #F24405;
}

.depoimentos {
    margin-bottom: 2rem;
}

/*---------------Newsletter---------------*/
.newsletter {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.newsletter h2 {
    margin-top: 1.3rem;
    margin-left: 0.4rem;

    font-weight: 600;
    font-size: 1.5rem;
    text-align: left;

    color: #F24405;
}

.form-control {
    font-size: 1rem;
    color: #373737;
    font-family: 'Inter', sans-serif;

    border: none;
    height: 2rem;
}

.newsletter ::placeholder {
    color: #F24405;
    text-align: start;
    font-family: 'Inter', sans-serif;
    font-size: 0.6rem;
}

.form-check {
    font-size: 0.7rem;
    font-family: 'Inter', sans-serif;
    color: #F24405;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.btn-primary {
        width: 10rem;
    height: 2.6rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-family: 'Inter', sans-serif;

    background: #FA7F08;
    border-radius: 9px;
    border: none;

    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    color: #FFFFFF;
}

/*---------------Parceiros---------------*/
.parceiros {
    left: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.parceiros-imagens {
    display: flex;
    justify-content: space-around;
}

/*---------PÁGINA PROGRAMAS--------*/
/*------------Programas------------*/

.programas {
    text-align: center;
    margin-top: 2.5rem;
    position: relative;
    flex-wrap: wrap;
}

.programas h2 {
    margin-bottom: 2.5rem;
    text-align: center;
    margin-left: 0px;
}

.programas-img {
    display: flex;
    justify-content: center;
    flex-direction: row;

    gap: 3.5rem;
    align-items: center;

    position: relative;
}

.programas-item {
    position: relative;
    border-radius: 18px;
}

.programas-item img {
    border-radius: 18px;
    
}

.programas-item p {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 100%;
    top: 45%;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.programas-item:hover p {
    visibility: visible;
}

.programas-item:hover {
    background-color: #d43e10;
}

.programas-item:hover img {
    opacity: 0.5;
}

/*---------------Entre em contato-------------*/

/* .contato {
    background: #DCFFFB;
    border-radius: 18px;
    text-align: left;
    margin-left: 4rem;
    margin-right: 4rem;
    display: inline-block;
    width: 45%;
    height: 37rem;
} */

.contato--vantagens h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: left;
    margin-top: 1rem;

    color: #348888;
}

.contato--vantagens ::placeholder {
    color: #F24405;
    text-align: start;
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
}

.contato--vantagens p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1rem;
    text-align: justify;
    color: #717070;

    height: 6rem;
    margin-top: 1rem;
}

/*---------------Blog---------------*/
.blog {
    text-align: center;
}

.blog h2 {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.blog-imagens {
    display: inline-block;
    margin-right: 4rem;
    margin-bottom: 5rem;
}

.blog-imagens p {
    font-weight: 500;
    font-size: 0.9rem;

    color: #F24405;
}

/*---------PÁGINA ORCAMENTO--------*/
/*------------Orçamento------------*/
.orcamento {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.orcamento h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.form-select {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #373737;
}

/*---------------Rodapé---------------*/
footer h2 {
    margin-top: 35px;
    margin-bottom: 24px;
}

footer {
    background-color: #DCFFFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    height: 288px;
    left: 0px;
    top: 2267px;
}

.rodape p {
    color: #348888; 
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 1rem; 
}

