/*---------------Configurações gerais---------------*/
h2 {
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.75rem;
    color: #348888;
    margin-bottom: 1.9rem;
}

p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #373737;
}

/*---------------Cabeçalho---------------*/

.cabecalho {
    background-color: #DCFFFB;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif; 
}

img .cabecalho {
    position: absolute;
}

.cabecalho img {
    height: 12rem;
}

.cabecalho-menu {
    width: 30rem;
    height: 1.5rem;
}

.cabecalho-menu ul {
    list-style: none;
}

.cabecalho-menu li {
    display: inline;
    border-right: #F24405 solid thin;
    padding: 0 0.5rem 0 0.5rem;
}

.cabecalho-menu li:last-child {
    border-right: none;
}

.cabecalho-menu a {
    text-decoration: none;
    color: #F24405;
    font-size: 1rem;
}

/*---------------Banner---------------*/

.banner{
    display: flex;
    justify-content: center;
    margin-top: 1.6em; 
    margin-bottom: 1.6em;
}

#banner-img {
    width: 90%; 
    height: 100%;  
    box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); 
    
    overflow: hidden;
    border-radius: 8px;    
}

#banner-btn {
    position: absolute;
    padding: 1rem 1.3rem;
    align-self: end;
        
    background: #348888;
    border-radius: 27px;
    border: none;
}

#banner-btn a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 0.9rem;
    text-align: center;
}

/*---------Principais Programas---------*/
.principais-programas {
    text-align: center;
    position: relative;
}

#principais-programas-titulo {
    text-align: center;
    margin-bottom: 45px;
    margin-left: 0px;
}

.principais-programas-img {
    display: flex;
    justify-content: center;
    gap: 41px;
}

.principais-programas-item {
    position: relative;
}

.principais-programas-item p {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 100%;
    top:30%;
    font-size: 20px;
    color:white
}

.principais-programas-item:hover p {
    visibility: visible;
}

.principais-programas-item:hover {
    background-color: #d43e10;
}
.principais-programas-item:hover img {
    opacity: 0.5;
}

/*---------------Quem Somos---------------*/
.quem-somos {
    left: 67px;
    top: 329px;
    margin-top: 35px;
    margin-bottom: 45px;
    text-align: left;
    margin-left: 64px;
    margin-right: 64px;
}

.quem-somos-p {
    margin-bottom: 25px;
}

/*---------------Depoimentos---------------*/
.depoimentos {
    margin-top: 35px;
    margin-bottom: 45px;
    margin-left: 64px; 
}

.depoimentos-p {
    position: absolute;
    margin: 42px 41.5px 74px 41.5px;
    
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    
    color: #717070;
}

.depoimentos-caixa {
    width: 358px;
    height: 254px;
    margin-left: 42px;
    
    position: relative;
    display: inline-flex;
        
    background: rgba(251, 228, 206, 0.22);
}

.depoimentos-nome {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 29px;
   
    color: #F24405;
}

/*---------------Newsletter---------------*/
.newsletter-container {
    width: 1152px;
    height: 220px;
    /*left: 64px;
    top: 1656px;*/
    margin-left: 64px;
    margin-right: 64px;
    display: flex;

    
    background: #DCFFFB;

    font-family: 'Inter', sans-serif;
    color:#F24405;
}

#newsletter-titulo {
    position: absolute;
    width: 300px;
    height: 30px;
    /*left: 17px; */
    margin-top: 22px;
    margin-left: 17px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;

    color: #F24405;
}

.newsletter-dados {
    position: absolute;
    /*height: 58px;*/
    margin-top: 68px;
    margin-left: 17px;

    /*background: #FFFFFF;*/

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: left;
    color: #FA7F08;
}

.newsletter-dados input {
    font-family: Inter;
    font-style: normal;
    font-size: 13px;
    color: #F24405;
}

::placeholder {
    color: #F24405;
}

.newsletter-termos{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 110px;
}

.newsletter-p {
    font-family: Inter;
    font-style: normal;
    font-size: 13px;
    color: #F24405;
}

#newsletter-btn{
    position: absolute;
    width: 167px;
    height: 43px;
    margin-top: 150px;
    
    background: #FA7F08;
    border-radius: 9px;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;

    color: #FFFFFF;
}

/*---------------Parceiros---------------*/
.parceiros {
    left: 64px;
    top: 1956px;
    margin-top: 35px;
    margin-bottom: 60px;
    text-align: center;
   
}

.parceiros-imagens {
    display: flex;
    justify-content: space-around;
}


/*----------Responsividade---------*/


/*---------PÁGINA PROGRAMAS--------*/
/*------------Programas------------*/

.programas {
    text-align: center;
    margin-top: 41px;
    position: relative; 
    /* margin-bottom: 31px;   */
}

.programas h2 {
    margin-bottom: 41px;
    text-align: center;
    margin-left: 0px;
}

.programas-img {
    display: flex;   
    justify-content: center;
    flex-direction: row;
    
    gap: 60px;
    align-items: center;
       
    position: relative;
}

.programas-item {
    position: relative;
    border-radius: 18px;
}

.programas-item img{
    border-radius: 18px;
    margin-bottom: 31px;
    width: 330px;
    height: 300px;
}

.programas-item p {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 100%;
    top:50%; 
    font-size: 20px;
    color:white
}

.programas-item:hover p {
    visibility: visible;
}

.programas-item:hover {
    background-color: #d43e10;
}

.programas-item:hover img {
    opacity: 0.5;
}

/*---------------Entre em contato-------------*/

.contato {
    background: #DCFFFB;
    border-radius: 20px;
    text-align: left;
    margin-left: 64px;
    margin-right: 64px;
    display: inline-block;
    width: 50%;
    height: 600px;
}

.contato h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    margin-bottom: 25px;
    margin-left: 21px;

    color: #F24405;
}

.contato-form {
    font-family: Inter;
    font-size: 13px;
    color: #F24405;
    margin-left: 21px;
}

#contato-msg {
    font-weight: 800;
}

#contato-check {
        font-family: Inter;
        font-style: normal;
        font-size: 13px;
        color: #F24405;
    }

#contato-btn {
    position: absolute;   
    background: #FA7F08;
    border-radius: 9px;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;

    color: #FFFFFF;
}

/*---------------Vantagens---------------*/
.vantagens {
    display: inline-block;
    margin-right: 64px;
    height: 600px;
    position: absolute;
    width: 50%;
    height: 50%;
}

.vantagens h2 {
    text-align: center;
   
    font-size: 20px;
    position: absolute;
}

.vantagens-textos img {
    /* position: relative; */
    /* display: flex; */
    margin-top: 80px;
}

.vantagens-textos {
    text-align: left;
    display: flex;
    margin-right: 64px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    gap: 5em;

    color: #717070;
}

.vantagens-textos p {
    left: 145px;
    width: 273px;
    height: 132px;
    margin-top: 80px;
     /*position: absolute; */
}

/*---------------Blog---------------*/
.blog {
    
    text-align: center;
}

.blog h2 {
    text-align: left;
    margin-left: 64px;
    margin-top: 31px;
}
.blog-imagens{
    display:inline-block;
    margin-right: 54px;
    margin-bottom: 71px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    
    color: #F24405;
}


/*---------------Rodapé---------------*/
footer h2 {
    margin-top: 35px;
    margin-bottom: 24px;
}

footer {
    background-color: #DCFFFB;
    display:flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Inter', sans-serif; 
    height: 288px;
    left: 0px;
    top: 2267px;
}

footer p {
    align-content: flex-end;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #348888;
}

.imagens-rodape {
    display: flex;
    flex-direction: row;
    left: 469px;
    margin-bottom: 50px;
}